body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f0f0f0;
}
/*.banner{
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75));
    background-size: cover;
    background-position: center;
} */

.container {
    background-color:rgb(168, 230, 168);
    padding: 2rem;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
  

h1 {
    text-align: center;
    margin-bottom: 1rem;
}

.converter {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

#temp-input, #converted-temp {
    padding: 0.75rem 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
}

#converted-temp {
    font-weight: bold;
}

#unit-from {
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
}

#convert-btn {
    background-color: #4CAF50; /* Green */
    color: white;
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#convert-btn:hover {
    background-color: #3e8e41; /* Darker green on hover */
}